<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.clickMe.Login.model.dao.UserLoginMapper">
	<resultMap type="org.clickMe.common.model.dto.UserDTO" id="loginUserResultMap">
		<id property="code" column="USER_CODE"/>
		<result property="entCode" column="ENT_CODE"/>
		<result property="id" column="USER_ID"/>
		<result property="psw" column="USER_PSW"/>
		<result property="email" column="USER_EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="name" column="USER_NAME"/>
		<result property="date" column="BIRTH_DATE"/>
		<result property="gender" column="GENDER"/>
		<result property="authority" column="AUTHORITY"/>
		<result property="deposit" column="DEPOSIT"/>
		<result property="profileOrigName" column="PROFILE_ORIG_NAME"/>
		<result property="profileUuidName" column="PROFILE_UUID_NAME"/>
		<result property="profileImgPath" column="PROFILE_IMG_PATH"/>
		<result property="lastLogin" column="LAST_LOGIN"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
	</resultMap>
	<select id="selectLoginUserInfo" resultMap="loginUserResultMap">
		SELECT
			   A.USER_CODE
			 , A.ENT_CODE
			 , A.USER_ID
			 , A.USER_PSW
			 , A.USER_EMAIL
			 , A.PHONE
			 , A.USER_NAME
			 , A.BIRTH_DATE
			 , A.GENDER
			 , A.AUTHORITY
			 , A.DEPOSIT
			 , A.PROFILE_ORIG_NAME
			 , A.PROFILE_UUID_NAME
			 , A.PROFILE_IMG_PATH
			 , A.LAST_LOGIN
			 , A.ENROLL_DATE
		  FROM "USER" A
	</select>
</mapper>
